altgraph==0.17.4
argcomplete==1.12.3
atomicwrites==1.4.1
attrs==25.1.0
bottle==0.12.20
certifi==2025.1.31
chardet==3.0.4
charset-normalizer==3.4.1
colorama==0.4.6
fonttools==4.56.0
idna==3.7
more-itertools==10.6.0
packaging==24.2
pefile==2023.2.7
pluggy==0.13.1
prettytable==0.7.2
py==1.11.0
PyHamcrest==2.0.2
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pymongo==3.11.0
pytest==5.4.3
pywin32==306
pywin32-ctypes==0.2.3
servicemanager==2.0.10
setuptools==75.8.0
urllib3==1.25.11
wcwidth==0.2.13
windowsservice==2.0.0
